html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    /* width: auto; */
    background-image: linear-gradient(to bottom right, hsl(16, 52%, 94%), hsl(23, 87%, 60%));
}

header {
    border: 2px solid rgb(84, 79, 79);
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    color: rgb(117, 90, 90)
}

img {
    border-radius: 10px;
    border: 3px solid rgb(84, 79, 79);
    width: 100%;
    /* max-width: 100px; */
    min-width: 200px;
    height: auto;
    display: inline-block;

}

.dropdownMenu {
    border: none;
    border-radius: 10px;
    margin: 20px;
    /* background-color: hsl(23, 84%, 73%); */
    background-image: linear-gradient(to bottom right,hsl(23, 81%, 68%), hsl(16, 52%, 94%));
    /* background-image: linear-gradient(to bottom right, rgb(168, 149, 149), rgb(84, 79, 79));
     *//* color: whitesmoke */
     color: rgb(117, 90, 90)
}
.dropdownMenu:hover  {
    background-image: linear-gradient(to bottom right,hsl(23, 90%, 58%), hsl(16, 71%, 85%));
   
}
.dropdownMenu-content {
    background-image: linear-gradient(to bottom right,hsl(23, 90%, 58%), hsl(16, 71%, 85%));
   
}


.vegies {

    margin-top: 13px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 225px;

    flex: 33.33%;
    padding: 5px;
    margin-right: 10px;
}

.row {
    display: flex;
       height: 100%;
       width: auto;
       margin-right: 20px;
    }


#check {
    text-align: center;
    
    


}

#checkButton {
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,hsl(23, 81%, 68%), hsl(16, 52%, 94%));
    border: none;
    color: rgb(117, 90, 90)
}
#checkButton:hover {
    background-image: linear-gradient(to bottom right,hsl(23, 90%, 58%), hsl(16, 71%, 85%));
    
}

#checkTxt {
    color: rgb(117, 90, 90)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    float: left;
}

a {
    /* border-radius: 5px;
    display: block;
    padding: 8px;
    background-image: linear-gradient(to bottom right, rgb(168, 149, 149), rgb(84, 79, 79));
    */
    color: rgb(117, 90, 90); 
    margin: 20px;
}
a:hover {
    color: hsl(23, 90%, 58%);
   
}

/* .items {
    text-align: center;
    margin-left: 27px;
    color: black;
} */

#myForm {
    width: 100%;

    /* margin: 10px;
    padding: 10px; */
}

#output {
    text-align: center;
    margin-bottom: 40px;
    color: #406a03;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

#userInputResult {
    margin: 10px;
    font-size: 20px;
}

#fittingTogetherResult {
    margin: 10px;
    font-size: 30px;
}